@font-face {
    font-family: 'TT Lakes';
    src: url('fonts/TTLakes-Bold.ttf'), url('fonts/TTLakes-Bold.ttf') format('truetype'), url('fonts/TTLakes-Bold.ttf') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'TT LakesMed';
    src: url('fonts/TypeType - TTLakes-Medium.otf'), url('fonts/TypeType - TTLakes-Medium.otf') format('truetype'), url('fonts/TypeType - TTLakes-Medium.otf') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'TT LakesReg';
    src: url('fonts/TTLakes-Regular .ttf'), url('fonts/TTLakes-Regular .ttf') format('truetype'), url('fonts/TTLakes-Regular .ttf') format('svg');
    font-weight: normal;
    font-style: normal;
}

body{
    margin: 0 auto 0 0;
    width: 320px;
    background-color: #FFFFFF;
}

.head{
    height: 85px;
    display: flex;
    background-color: #FFFFFF;
}

.head__but{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: #FF3E79 solid 1px;
}

.to-close{
    background: #FF3E79 url("img/to_close.png") no-repeat center;
    margin-left: 24px;
    margin-top: 23px;
    margin-right: 16.73px;

}

.search{
    background: #FF3E79 url("img/search.png") no-repeat center;
    margin-top: 23px;
}

.logo{
    margin-top: 18.73px;
    margin-right: 78.27px;
}

.services{
    line-height: 24px;
    letter-spacing: -0.2px;
    font-size: 16px;
    margin-top: 36px;
    position: relative;
    height: 660px;
}

.services__variants{
    display: block;
    border: #FFFFFF solid 1px;
    background: #FFFFFF;
    font-family: 'TT LakesReg', sans-serif;
    margin-bottom: 32px;
    padding-left: 24px;
    font-weight: 700;
    color: #1B1C21;
    line-height: 24px;
    letter-spacing: -0.2px;
    font-size: 16px;
}

.services__variants:last-child{
    margin-bottom: 0;
}

.services__variants:hover{
    color: #7E7E82;
    opacity: 0.9;
}

.services__variants:focus{
    outline: none;
    color: #7E7E82;
    opacity: 0.9;
}

.services__variants:hover:before{
    content: '';
    width: 4px;
    height: 32px;
    position: absolute;
    background: #41F6D7;
    left: 0;
    top: auto;
    border-top-right-radius: 30px;
    border-bottom-right-radius: 30px;
}

.services__variants:focus:before{
    content: '';
    width: 4px;
    height: 32px;
    position: absolute;
    background: #41F6D7;
    left: 0;
    top: auto;
    border-top-right-radius: 30px;
    border-bottom-right-radius: 30px;
}

.connection__but{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: #FF3E79 solid 1px;
    margin-left: 16px;
}

.telephone{
    background: #FF3E79 url("img/tel.png") no-repeat center;
    margin-left: 24px;
}

.message{
    background: #FF3E79 url("img/messages.png") no-repeat center;
}

.man{
    background: #FF3E79 url("img/man.png") no-repeat center;
}

.mail p{
    line-height: 24px;
    font-size: 16px;
    font-family: 'TT LakesReg', sans-serif;
    padding-left: 24px;
    letter-spacing: -0.2px;
    font-weight: 700;
}

.tel{
    line-height: 32px;
    font-size: 24px;
    letter-spacing: -0.6px;
    color: #1B1C21;
    font-family: "TT Lakes", sans-serif;
    font-weight: 700;
    padding-left: 24px;
}
 .language{
     margin-left: 0;
     padding-left: 20px;
     margin-bottom: 32px;
 }

.language__choice{
    line-height: 24px;
    font-size: 16px;
    font-family: 'TT LakesReg', sans-serif;
    letter-spacing: -0.2px;
    font-weight: 700;
    width: 25px;
    height: 24px;
    margin-right: 7px;
}

.ru{
    text-align: center;
    border: #FFFFFF solid 1px;
    background:#FFFFFF;
}

.en{
    text-align: center;
    border: #FFFFFF solid 1px;
    background: #FFFFFF;
}

.ch{
    text-align: center;
    border: #FFFFFF solid 1px;
    background: #FFFFFF;
}

.language__choice:hover{
    color: #7E7E82;
}

.language__choice:focus{
    outline: none;
    color: #7E7E82;
}